body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('assets/background-pokedex.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}

.btn-nav {
    text-decoration: none;
    color: white;
    background: linear-gradient(to bottom, #a5d63f, #4d8c18);
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 14px;
}

.btn-nav:hover {
    transform: scale(1.1); 
    filter: brightness(1.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 50px auto;
    width: 70%;
    border-radius: 50px;
    padding: 40px 60px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.hero-content h1 {
    flex: 1;
    font-size: 60px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.hero-content p {
    flex: 1;
    font-size: 20px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.hero-content span {
    color: #ffcb05;
    display: block;
}

.btn-start {
    border: 1px solid white;
    background: linear-gradient(to bottom, #a5d63f 0%, #4d8c18 100%);
    color: white; 
    padding: 15px 40px;
    border-radius: 30px; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-start:hover {
    transform: scale(1.1); 
    filter: brightness(1.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.hero-image img {
    width: 550px;
    position: absolute;
    bottom: -40px;
    right: 10px;
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5));
}

.pokemon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

/* Estilo do Card individual */
.pokemon-card {
    background: rgba(255, 255, 255, 0.2); /* Fundo branco bem transparente */
    backdrop-filter: blur(10px); /* O efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade Safari */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Borda clarinha */
    border-radius: 20px; /* Bordas bem arredondadas */
    width: 180px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.pokemon-card h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
    letter-spacing: 1px;
}

.pokemon-card span {
    font-size: 0.9rem;
    opacity: 0.8;
    display: block;
}
